<html>
<head>
  <%- include('header') %>
</head>
<body>
  <%- include('navbar') %>
  <div class="container">
    <h2>Statistics per URL</h2>
    <table id="URLTable" class="table">
      <thead>
        <tr>
          <th>URL</th>
          <th>Type</th>
          <th>Data</th>
          <th>Last <%= NUM_OF_LAST_RUNS %> runs</th>
          <th>Average of last <%= NUM_OF_LAST_RUNS %> durations</th>
          <th>Average of last <%= NUM_OF_LAST_RUNS %> sizes</th>
        </tr>
      </thead>
      <tbody>
        <% if (durations) {
          for (var i=0; i<durations.length; i++) { %>
            <tr>
              <td><%= durations[i]['url'] %></td>
              <td><%= durations[i]['type'] %></td>
              <td><%= durations[i]['data'] %></td>
              <td><%= JSON.stringify(durations[i]['lastDurations']) %></td>
              <td><%= durations[i]['lastDurationsAverage'] %></td>
              <td><%= durations[i]['lastSizesAverage'] %></td>
            </tr>
          <% }
        } %>
      </tbody>
    </table>
  </div>
</body>
</html>
