<html>
<head>
  <%- include('header') %>
</head>
<body>
  <%- include('navbar') %>
  <div class="container">
    <% if (progressPercentage < 100) {
      var progressBarClass = 'progress-bar-striped active';
      var checkRunMessage = 'Run in progress. Please refresh in a few moments for results.';
    } else {
      var checkRunMessage = 'Run is completed.';
    } %>
    <h4><%= checkRunMessage %></h4>
    <div class="progress">
      <div class="progress-bar progress-bar-success <%= progressBarClass %>" role="progressbar" aria-valuenow="<%= progressPercentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= progressPercentage %>%">
        <span class="sr-only">40% Complete (success)</span>
        <%= progressPercentage %>%
      </div>
    </div>
    <h2>Data for the latest run</h2>
    <table border="1">
      <caption>Slowest requests</caption>
      <tr>
        <th>URL</th>
        <th>Type</th>
        <th>Durations</th>
      </tr>
      <% if (slowestDurations) {
        slowestDurations['records'].sort(function(a, b) {
          return b['duration'] - a['duration']
        })
        for (var i=0; i < slowestDurations['records'].length; i++) { %>
          <tr>
            <td><%= slowestDurations['records'][i]['url'] %></td>
            <td><%= slowestDurations['records'][i]['type'] %></td>
            <td><%= slowestDurations['records'][i]['duration'] %></td>
          </tr>
        <% }
      } %>
    </table>
    <table border="1">
      <caption>Requests with the biggest variance from moving average</caption>
      <tr>
        <th>URL</th>
        <th>Type</th>
        <th>Variance</th>
      </tr>
      <% if (mostVaryingDurations) {
        mostVaryingDurations['records'].sort(function(a, b) {
          return b['variance'] - a['variance']
        })
        for (var i=0; i < mostVaryingDurations['records'].length; i++) { %>
          <tr>
            <td><%= mostVaryingDurations['records'][i]['url'] %></td>
            <td><%= mostVaryingDurations['records'][i]['type'] %></td>
            <td><%= mostVaryingDurations['records'][i]['variance'] %></td>
          </tr>
        <% }
      } %>
    </table>
  </div>
</body>
</html>
