<html>
<head>
  <%- include('header') %>
  <script src="/js/tablesorter.min.js"></script>
  <link href="/css/tablesorter.css" rel="stylesheet">
</head>
<body>
  <%- include('navbar') %>
  <div class="container">
    <h4><%= new Date(parseFloat(data['timestamp'])) %></h4>
    <% if (progressPercentage < 100) {
      var progressBarClass = 'progress-bar-striped active';
      var checkRunMessage = 'Run in progress. Please refresh in a few moments for results.';
    } else {
      var checkRunMessage = 'This run is completed.';
    } %>
    <h4><%= checkRunMessage %></h4>
    <div class="progress">
      <div class="progress-bar progress-bar-success <%= progressBarClass %>" role="progressbar" aria-valuenow="<%= progressPercentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= progressPercentage %>%">
        <%= progressPercentage %>%
      </div>
    </div>
    <table class="table tablesorter">
      <thead>
        <tr>
          <% var headers = ['URL', 'Type', 'Data', 'Status code', 'Duration (ms)', 'Previous ' + NUM_OF_LAST_RUNS + ' runs duration average (ms)', 'Duration variance', 'Response size (bytes)', 'Previous ' + NUM_OF_LAST_RUNS + ' runs response size average (bytes)'];
          for (var i=0; i < headers.length; i++) { %>
            <th><%= headers[i] %></th>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <% if (data) {
          var keywords = ['url', 'type', 'data', 'statusCode', 'time', 'previousTimeAverage', 'variance', 'size', 'previousSizeAverage'];
          for (var i=0; i < data['responseRecords'].length; i++) {
            var trClass = data['responseRecords'][i]['statusCode'] === 200 ? 'success' : 'warning';
            if (data['responseRecords'][i]['variance'] >= ALERT_MULTIPLE) {
              trClass = 'danger';
            }%>
            <tr class="<%= trClass %>">
              <% for (var j=0; j < keywords.length; j++) { %>
                <td><%= data['responseRecords'][i][keywords[j]] %></td>
              <% } %>
            </tr>
          <% }
        } %>
      </tbody>
    </table>
  </div>
</body>
</html>
