<html>
<head>
  <%- include('header') %>
  <script src="/js/timestamps.js"></script>
</head>
<body>
  <%- include('navbar') %>
  <div class="container">
    <h2>Data per timestamp</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th># of requests</th>
        </tr>
      </thead>
      <tbody id="timestampsTableBody">
        <% if (dataByTimestamp) {
          for (var i=dataByTimestamp.length - 1; i>=0; i--) { %>
            <tr data-timestamp="<%= dataByTimestamp[i]['timestamp'] %>" >
              <td><%= new Date(parseFloat(dataByTimestamp[i]['timestamp'])) %></td>
              <td><%= dataByTimestamp[i]['responseRecords'].length %></td>
            </tr>
          <% }
        } %>
      </tbody>
    </table>
  </div>
</body>
<html>