<html>
<head>
  <%- include('header') %>
  <script src="/js/tablesorter.min.js"></script>
  <link href="/css/tablesorter.css" rel="stylesheet">
  <script src="/js/urls.js"></script>
</head>
<body>
  <%- include('navbar') %>
  <div class="container">
    <div class="well">Please refrain from updating and deleting the URLs while checks are running to preserve the data integrity.</div>
    <form id="newURLForm">
      <div>
        <label for="url">URL:</label><input type="url" id="url" name="url">
      </div>
      <div>
        <label for="type">Type:</label>
        <select id="type" name="type">
          <option value="GET">GET</option>
          <option value="POST">POST</option>
        </select>
      </div>
      <div>
        <label for="headers">Headers:</label><textarea id="headers" name="headers" placeholder="Enter a valid JSON object"></textarea>
      </div>
      <div class="hide" id="dataWrapper">
        <label for="data">Data:</label><textarea id="data" name="data" placeholder="Enter a valid JSON object"></textarea>
      </div>
      <input type="hidden" id="_id" name="_id">
      <input type="submit" value="Add/Update" id="newURLButton">
      <div class="alert alert-danger urlAlert hide" role="alert" id="newURLErrorURL">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        The URL is malformed; please try again with a correct URL.
      </div>
      <div class="alert alert-danger urlAlert hide" role="alert" id="newURLErrorType">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        The request type needs to be GET or POST; please try again with a correct request type.
      </div>
      <div class="alert alert-danger urlAlert hide" role="alert" id="newURLErrorHeaders">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        The headers are malformed; please try again with a properly formatted JSON.
      </div>
      <div class="alert alert-danger urlAlert hide" role="alert" id="newURLErrorData">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        The data is malformed; please try again with a properly formatted JSON.
      </div>
      <div class="alert alert-warning urlAlert hide" role="alert" id="newURLErrorDuplicate">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        This URL/type/data combination has already been added.
      </div>
      <div class="alert alert-danger urlAlert hide" role="alert" id="newURLErrorSave">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Failed to save the URL; please try again.
      </div>
      <div class="alert alert-success urlAlert hide" role="alert" id="newURLSuccess">
        URL added.
      </div>
      <div class="alert alert-success urlAlert hide" role="alert" id="updateURLSuccess">
        URL updated.
      </div>
    </form>
    <table class="table tablesorter">
      <thead>
        <th>URL</th>
        <th>Type</th>
        <th>Headers</th>
        <th>Data</th>
        <th>Action</th>
      </thead>
      <tbody id="urlTableBody">
        <% if (urlRecords) {
          for (var i=0; i < urlRecords.length; i++) { %>
            <tr data-url-id="<%= urlRecords[i]['_id'] %>">
              <td class='urlTableCell'><%= urlRecords[i]['url'] %></td>
              <td class='typeTableCell'><%= urlRecords[i]['type'] %></td>
              <td class='headersTableCell'><%= JSON.stringify(urlRecords[i]['headers']) %></td>
              <td class='dataTableCell'><%= urlRecords[i]['data'] %></td>
              <td>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-default"><a href="/url/<%= urlRecords[i]['_id'] %>">See <%= urlRecords[i]['durations'].length %> run(s)</a></button>
                  <button type="button"  class="btn btn-default updateUrl">Update</button>
                  <button type="button" class="btn btn-default deleteUrl">Delete</button>
                </div>
              </td>
            </tr>
          <% }
          } %>
      </tbody>
      <div class="alert alert-danger urlAlert hide" role="alert" id="deleteUrlError">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Failed to delete the URL; please try again.
      </div>
    </table>
  </div>
</body>
</html>